####################################
# Build results
####################################
bin/
obj/
out/
publish/

####################################
# Visual Studio
####################################
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

####################################
# Rider / VS Code
####################################
.idea/
.vscode/
*.code-workspace

####################################
# Logs
####################################
*.log
logs/
Log/
Logs/

####################################
# OS files
####################################
.DS_Store
Thumbs.db

####################################
# Test Results
####################################
TestResults/
*.trx

####################################
# NuGet
####################################
*.nupkg
*.snupkg
packages/

####################################
# ASP.NET Core
####################################
appsettings.Development.json
appsettings.*.local.json

####################################
# Secrets
####################################
secrets.json
*.pfx
*.key

####################################
# Docker
####################################
docker-compose.override.yml

####################################
# Publish
####################################
*.Publish.xml
*.pubxml
*.pubxml.user

####################################
# EF Core
####################################
Migrations/